*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('bg1.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cont{
    width: 50%;
    background-color: white;
    align-self: center;
    display: block;
    margin: 100px auto;
    border-radius: 20px;
    padding-bottom: 50px;
    box-shadow: 5px 10px 20px black;
}

.title{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h1{
    text-align: center;
    padding: 16px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.searchbox{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
#search{
    width: 65%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px black;    

}
.locicon{
    width: 50px;
    height: 40px;
    margin-left: 0.5rem;
}

.locicon img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px black;     */
}

.noti{
    background-color: white;
    display: none;
}
.noti p{
    color: maroon;
    font-size: 1.2rem;
    margin:0;
    text-align: center;
    padding: 10px 0;
}

.weacont{
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

.weaicon{
    width: 100%;
    height: 128px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.weaicon img{
    height: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.dets{
    width: 100%;
    height: 60px;
}

.dets p{
    padding: 0;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 2rem;
}

.dets span{
    color: #293251;
    font-size: 1rem;
}

.desc p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2rem;
}

.loc p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1rem;
}

div.rel{
    position: absolute;
    top: 600px;
    right: 120px;
}